<div class="crop">
    <img src="{{singleCountryData[0].flag}}" alt="">
</div>
<br><br><br>
<h1>{{singleCountryData[0].name}}</h1>
<hr>
<br><br><br>

<div class="container">
    <div class="row main-display">
        <div class="col-4 card">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Language</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Currency</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Border</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Regional Blocks</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-disp" role="tab" aria-controls="settings">Translations</a>
            </div>
        </div>
        <div class="col-8 card">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <h2>Languages</h2>
                    <hr>
                    <div class="text-center">
                        <p *ngFor="let lang of singleCountryData[0].languages ; let last = last" style="display: inline-block">
                            <a [routerLink]="['/allCountry','lang',lang.iso639_1]">{{lang.name}}{{last ? '':'&nbsp;, &nbsp;'}}</a>
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <h2>Currencies</h2>
                    <hr>
                    <p *ngFor="let currency of singleCountryData[0].currencies">
                        <a [routerLink]="['/allCountry','currency',currency.code]">{{currency.name}}</a>
                    </p>
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <h2>Borders</h2>
                    <hr>
                    <div class="text-center">
                        <p *ngFor="let border of singleCountryData[0].borders; let last = last" style="display: inline-block">{{border}}{{last ? '':'&nbsp;, &nbsp;'}}</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <h2>Regional Blocks</h2>
                    <hr>
                    <div *ngFor="let block of singleCountryData[0].regionalBlocs">
                        <p class="text-left ml-5"><strong>Acronym :</strong> {{block.acronym}}</p>
                        <p class="text-left ml-5"><strong>Name : </strong>{{block.name}}</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-disp" role="tabpanel" aria-labelledby="list-messages-list">
                    <h2>Translations</h2>
                    <hr>
                    <p *ngIf="singleCountryData[0].translations" class="text-center">
                        {{translation.toString()}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <!-- more information -->
        <div class="card-columns">
            <div class="card text-center p-3 bg-dark detail-card">
                <div class="card-body">
                    <h2 class="card-title">Capital</h2>
                    <p class="card-text">{{singleCountryData[0].capital}}</p>
                </div>
            </div>
            <div class="card p-3 text-center bg-dark detail-card">
                <div class="card-body">
                    <h2 class="card-title">Cioc</h2>
                    <p class="card-text">{{singleCountryData[0].cioc}}</p>
                </div>
            </div>
            <div class="card text-center bg-dark detail-card p-3">
                <div class="card-body ">
                    <h2 class="card-title">Demonym</h2>
                    <p class="card-text">{{singleCountryData[0].demonym}}</p>
                </div>
            </div>
            <div class="card text-center p-3 bg-dark detail-card">
                <div class="card-body">
                    <h2 class="card-title">Native Name</h2>
                    <p class="card-text">{{singleCountryData[0].nativeName}}</p>
                </div>
            </div>
            <div class="card text-center bg-dark detail-card p-3">
                <div class="card-body">
                    <h2 class="card-title">Population</h2>
                    <p class="card-text">{{singleCountryData[0].population}}</p>
                </div>
            </div>
            <div class="card p-3 text-center bg-dark detail-card">
                <div class="card-body">
                    <h2 class="card-title">Calling Code</h2>
                    <p class="card-text">{{singleCountryData[0].callingCodes[0]}}</p>
                </div>
            </div>
            <div class="card p-3 text-center bg-dark detail-card">
                <div class="card-body">
                    <h2 class="card-title">Region</h2>
                    <p class="card-text">{{singleCountryData[0].region}}</p>
                </div>
            </div>
            <div class="card text-center bg-dark detail-card p-3">
                <div class="card-body">
                    <h2 class="card-title">Sub-Region</h2>
                    <p class="card-text">{{singleCountryData[0].subregion}}</p>
                </div>
            </div>
            <div class="card text-center bg-dark detail-card p-3">
                <div class="card-body">
                    <h2 class="card-title">Top Level Domain</h2>
                    <p class="card-text">{{singleCountryData[0].topLevelDomain}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<a href="#" class="btn btn-success" [routerLink]="['/allCountry','region',singleCountryData[0].region]">Go Back</a>

<br>
<br>
<br>