.carousel-control-prev, .carousel-control-next{
    margin-top: 50vh;
}
.tl{
    text-align: center;
    margin-top: 1em;
    background-color: black;
    color: silver;
    text-shadow: 4px 4px pink;
}
.image img{
    width: 100%;
    background-size: cover;
       
}
.carousel-item h5{
    color: white;
}

.btn{
    width: 16em;
}

.cards{
    margin-top: 2.5em;
    box-shadow: 0 14px 28px rgba(184, 172, 172, 0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.image{
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.text-image p {
    color: white;
    margin-top: -200px;
    margin-bottom: 100px;
    padding-top: 0.5em;
    font-size: 2.3em;
    font-weight: 500;
}

.row img{
    opacity: 0.5;
}

h5{
    font-size : 5em;
    padding-top: 2.3em;
    padding-bottom: 0.7em;
}

.card-img-overlay h5,a{
    text-align: center;
    display: block;
    margin: auto;
    
}