<div class="tl">
    <h1> World Information</h1>
</div>
<br><br>
<div class="container cards">
    <div class="row">
        <div class="card bg-dark text-white ">
            <img class="card-img" src="../../assets/asia.jpeg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Asia</h5>
                <a type="button" class="btn btn-light" [routerLink]="['/allCountry','region','asia']">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="container cards">
    <div class="row">
        <div class="card bg-dark text-white ">
            <img class="card-img" src="../../assets/europe.jpeg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Europe</h5>
                <a type="button" class="btn btn-light" [routerLink]="['/allCountry','region','europe']">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="container cards">
    <div class="row">
        <div class="card bg-dark text-white ">
            <img class="card-img" src="../../assets/africa.jpeg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Africa</h5>
                <a type="button" class="btn btn-light" [routerLink]="['/allCountry','region','africa']">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="container cards">
    <div class="row">
        <div class="card bg-dark text-white ">
            <img class="card-img" src="../../assets/america.jpeg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">America</h5>
                <a type="button" class="btn btn-light" [routerLink]="['/allCountry','region','americas']">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="container cards">
    <div class="row">
        <div class="card bg-dark text-white ">
            <img class="card-img" src="../../assets/oceania.jpeg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Oceania</h5>
                <a type="button" class="btn btn-light" [routerLink]="['/allCountry','region','oceania']">Learn More</a>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>